@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Permanent+Marker&display=swap');
.animbox {
  display: flex;
  padding:20px;
  width: 70vw;
  justify-content: center;
  flex-direction: row;
  
}
.zonkbox{
    display:flex;
    padding:20px;
    width: 70vw;
    justify-content: center;
    flex-direction: row;
    font-family: Permanent Marker;
    font-size: 6em;
    font-style: normal;
    font-weight: 200;
    
  
}
.zonk{

    
   
}