@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgb(248, 240, 233);
}

main {
  display: flex;
  width: 95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animbox {
  display: flex;
  justify-content: center;
  width: 70vw;
}
.zonkbox {
  display: flex;
  width: 70vw;
  justify-content: center;
  font-family: Permanent Marker;
  color: hotpink;
  font-size: 6em;
  font-style: normal;
  font-weight: 200;
}
.formbox {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  font-family: Emilys Candy;
  font-size: 2em;
}
.formcontainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.labelbox {
  display: flex;
  justify-content: center;
  color: ivory;
}
.buttonbox {
  display: flex;
  justify-content: center;

  font-family: Emilys Candy;
  font-size: 2em;
}
button {
  font-family: Emilys Candy;
  font-size: 0.5em;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 24px;
  background-color: rgb(110, 207, 252);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
button:hover {
  background-color: rgb(1, 82, 119);
  border: none;
  outline-style: none;
}
button:active {
  transform: translateY(2px);
}
label {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(110, 207, 252);
  border-radius: 24px;
}
input {
  display: flex;
  background-color: rgb(110, 207, 252);
  justify-content: center;
  align-items: center;
  appearance: none;
  outline-style: none;
  border: none;

  color: ivory;
  font-family: Emilys Candy;
  font-size: 1em;
}

.inputbox {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: top 10px;
  font-family: Emilys Candy;
  font-size: 0.5em;
  border-radius: 24px;
  background-color: rgb(110, 207, 252);
  width: 20em;
  height: 2em;
}
.inputbox:hover {
  box-shadow: 0 1px 6px 0 rgba(1, 82, 119, 0.7);
  border-color: rgba(223, 225, 229, 0);
}
@media (max-width: 800px) {
  .zonkbox {
    font-size: 3em;
  }
  img {
    max-width: 90%;
    max-height: 90%;
  }
  .inputbox {
    max-width: 50%;
  }

  .labelbox {
    max-width: 50%;
    font-size: 70%;
  }
  .buttonbox {
    max-width: 50%;
    font-size: 90%;
    border-radius: 5px;
  }

  .formbox {
    max-width: 100%;
  }
}
